

/* ==========================================================================
   Social
   ========================================================================== */

 .twitter:hover, .google-plus:hover, .facebook:hover, .pinterest:hover, .linkedin:hover {
   	transform: scale(1.2);
 }

 .twitter, .google-plus, .facebook, .pinterest, .linkedin {
   	transition: transform .3s ease-out;
   	transform-origin: 50% 50%;
 }


/* ==========================================================================
   Client Logos
   ========================================================================== */

 .client-logo:hover {
   	transform: scale(1.1);
 }

 .client-logo {
   	transition: transform .3s ease-out;
   	transform-origin: 50% 100%;
 }


/* ==========================================================================
   Graphic Headers
   ========================================================================== */

 .graphic-headers-type {
   	stroke: #FFFFFF;
   	stroke-width: 1;
   	stroke-dasharray: 450;
   	stroke-dashoffset: 450;
   	fill: transparent;

   	animation: offset 2s linear forwards, fill-it .8s 2s forwards;
 }

.graphic-headers-rectangle {
   	stroke: #FFFFFF;
   	stroke-width: 1;
   	stroke-dasharray: 1200;
   	stroke-dashoffset: 1200;
   	fill: transparent;

   	animation: offset 2s linear forwards, fill-it .8s 2s forwards;
 }

 @keyframes offset {
 		100% {
 			stroke-dashoffset: 0;
 		}
 }

@keyframes fill-it {
 		100% {
 			fill: #FFFFFF;
 		}
 }


/* ==========================================================================
   Homepage Chart 1
   ========================================================================== */

.bia-chart-1, .bia-chart-2, .bia-chart-3, .bia-chart-4, .rights-holder, .sponsor, .fan, .brand-in-action {
  opacity: 0.01;
}

.go {
  top: -90px;
}

.go:hover .bia-chart-1  {
  position: absolute;
  transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  animation: BIAChart1 7s linear forwards;
}

@keyframes BIAChart1 {
   0% {
      opacity:0.01;
   }
   5% {
      opacity:1;
   }
   100% {
      opacity:1;
   }
}

.go:hover .bia-chart-2 {
  position: absolute;
  transform-origin: 50% 50%;
  animation: BIAChart2 7s linear forwards;
}

@keyframes BIAChart2 {
   0% {
      opacity:0.01;
   }
   20% {
      opacity:0.01;
   }
   25% {
      opacity:1;
   }
   100% {
      opacity:1;
   }
}

.go:hover .bia-chart-3 {
  position: absolute;
  transform-origin: 50% 50%;
  animation: BIAChart3 7s linear forwards;
}

@keyframes BIAChart3 {
   0% {
      opacity:0.01;
   }
   40% {
      opacity:0.01;
   }
   45% {
      opacity:1;
   }
   100% {
      opacity:1;
   }
}

.go:hover .bia-chart-4 {
  position: absolute;
  transform-origin: 50% 50%;
  animation: BIAChart4 7s linear forwards;
}

@keyframes BIAChart4 {
   0% {
      opacity:0.01;
   }
   60% {
      opacity:0.01;
   }
   65% {
      opacity:1;
   }
   100% {
      opacity:1;
   }
}

.go:hover .rights-holder {
  transform-origin: 50% 50%;
  animation: RightsHolder 7s linear forwards;
}

@keyframes RightsHolder {
   0% {
      opacity:0.01;
   }
   10% {
      opacity:0.01;
   }
   15% {
      opacity:1;
   }
   100% {
      opacity:1;
   }
}

.go:hover .sponsor {
  transform-origin: 50% 50%;
  animation: Sponsor 7s linear forwards;
}

@keyframes Sponsor {
   0% {
      opacity:0.01;
   }
   30% {
      opacity:0.01;
   }
   35% {
      opacity:1;
   }
   100% {
      opacity:1;
   }
}

.go:hover .fan {
  transform-origin: 50% 50%;
  animation: Fan 7s linear forwards;
}

@keyframes Fan {
   0% {
      opacity:0.01;
   }
   50% {
      opacity:0.01;
   }
   55% {
      opacity:1;
   }
   100% {
      opacity:1;
   }
}

.go:hover .brand-in-action {
  transform-origin: 50% 50%;
  animation: BrandInAction 7s linear forwards;
}

@keyframes BrandInAction {
   0% {
      opacity:0.01;
   }
   70% {
      opacity:0.01;
   }
   75% {
      opacity:1;
   }
   100% {
      opacity:1;
   }
}


/* ==========================================================================
   Homepage Chart 2
   ========================================================================== */

/* Ideas Lightbulb */

.lightbulb-rays-1 {
   transform-origin: 50% 50%;
   animation: LightbulbRays1 3s linear backwards;
   animation-iteration-count: infinite;
}

@keyframes LightbulbRays1 {
   0% {
      opacity:0.01;
   }
   12% {
      opacity:0.01;
   }
   12.5% {
      opacity:1;
   }
}

.lightbulb-rays-2 {
   transform-origin: 50% 50%;
   animation: LightbulbRays2 3s linear backwards;
   animation-iteration-count: infinite;
}

@keyframes LightbulbRays2 {
   0% {
      opacity:0.01;
   }
   24.5% {
      opacity:0.01;
   }
   25% {
      opacity:1;
   }
}

.lightbulb-rays-3 {
   transform-origin: 50% 50%;
   animation: LightbulbRays3 3s linear backwards;
   animation-iteration-count: infinite;
}

@keyframes LightbulbRays3 {
   0% {
      opacity:0.01;
   }
   37% {
      opacity:0.01;
   }
   37.5% {
      opacity:1;
   }
}

.lightbulb-rays-4 {
   transform-origin: 50% 50%;
   animation: LightbulbRays4 3s linear backwards;
   animation-iteration-count: infinite;
}

@keyframes LightbulbRays4 {
   0% {
      opacity:0.01;
   }
   49.5% {
      opacity:0.01;
   }
   50% {
      opacity:1;
   }
}

.lightbulb-rays-5 {
   transform-origin: 50% 50%;
   animation: LightbulbRays5 3s linear backwards;
   animation-iteration-count: infinite;
}

@keyframes LightbulbRays5 {
   0% {
      opacity:0.01;
   }
   62% {
      opacity:0.01;
   }
   62.5% {
      opacity:1;
   }
}

.lightbulb-rays-6 {
   transform-origin: 50% 50%;
   animation: LightbulbRays6 3s linear backwards;
   animation-iteration-count: infinite;
}

@keyframes LightbulbRays6 {
   0% {
      opacity:0.01;
   }
   74.5% {
      opacity:0.01;
   }
   75% {
      opacity:1;
   }
}

.lightbulb-rays-7 {
   transform-origin: 50% 50%;
   animation: LightbulbRays7 3s linear backwards;
   animation-iteration-count: infinite;
}

@keyframes LightbulbRays7 {
   0% {
      opacity:0.01;
   }
   87% {
      opacity:0.01;
   }
   87.5% {
      opacity:1;
   }
}

/* 1. Listen */  

.tin-cans{
  animation: TinCans linear 3s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: TinCans linear 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: TinCans linear 3s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: TinCans linear 3s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: TinCans linear 3s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes TinCans{
  0% {
    transform:  translate(0px,0px)  rotate(0deg) ;
  }
  5% {
    transform:  translate(-10px,0px)  rotate(-5deg) ;
  }
  10% {
    transform:  translate(8px,0px)  rotate(3deg) ;
  }
  15% {
    transform:  translate(-6px,0px)  rotate(-3deg) ;
  }
  20% {
    transform:  translate(4px,0px)  rotate(2deg) ;
  }
  25% {
    transform:  translate(-2px,0px)  rotate(-1deg) ;
  }
  100% {
    transform:  translate(0px,0px)  rotate(0deg) ;
  }
}

@-moz-keyframes TinCans{
  0% {
    -moz-transform:  translate(0px,0px)  rotate(0deg) ;
  }
  5% {
    -moz-transform:  translate(-10px,0px)  rotate(-5deg) ;
  }
  10% {
    -moz-transform:  translate(8px,0px)  rotate(3deg) ;
  }
  15% {
    -moz-transform:  translate(-6px,0px)  rotate(-3deg) ;
  }
  20% {
    -moz-transform:  translate(4px,0px)  rotate(2deg) ;
  }
  25% {
    -moz-transform:  translate(-2px,0px)  rotate(-1deg) ;
  }
  100% {
    -moz-transform:  translate(0px,0px)  rotate(0deg) ;
  }
}

@-webkit-keyframes TinCans {
  0% {
    -webkit-transform:  translate(0px,0px)  rotate(0deg) ;
  }
  5% {
    -webkit-transform:  translate(-10px,0px)  rotate(-5deg) ;
  }
  10% {
    -webkit-transform:  translate(8px,0px)  rotate(3deg) ;
  }
  15% {
    -webkit-transform:  translate(-6px,0px)  rotate(-3deg) ;
  }
  20% {
    -webkit-transform:  translate(4px,0px)  rotate(2deg) ;
  }
  25% {
    -webkit-transform:  translate(-2px,0px)  rotate(-1deg) ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  rotate(0deg) ;
  }
}

@-o-keyframes TinCans {
  0% {
    -o-transform:  translate(0px,0px)  rotate(0deg) ;
  }
  5% {
    -o-transform:  translate(-10px,0px)  rotate(-5deg) ;
  }
  10% {
    -o-transform:  translate(8px,0px)  rotate(3deg) ;
  }
  15% {
    -o-transform:  translate(-6px,0px)  rotate(-3deg) ;
  }
  20% {
    -o-transform:  translate(4px,0px)  rotate(2deg) ;
  }
  25% {
    -o-transform:  translate(-2px,0px)  rotate(-1deg) ;
  }
  100% {
    -o-transform:  translate(0px,0px)  rotate(0deg) ;
  }
}

@-ms-keyframes TinCans {
  0% {
    -ms-transform:  translate(0px,0px)  rotate(0deg) ;
  }
  5% {
    -ms-transform:  translate(-10px,0px)  rotate(-5deg) ;
  }
  10% {
    -ms-transform:  translate(8px,0px)  rotate(3deg) ;
  }
  15% {
    -ms-transform:  translate(-6px,0px)  rotate(-3deg) ;
  }
  20% {
    -ms-transform:  translate(4px,0px)  rotate(2deg) ;
  }
  25% {
    -ms-transform:  translate(-2px,0px)  rotate(-1deg) ;
  }
  100% {
    -ms-transform:  translate(0px,0px)  rotate(0deg) ;
  }
}

/* 2. Plan  */ 

.clipboard-inner-1{
   animation: animationFrames1 ease 3s;
   animation-iteration-count: infinite;
   transform-origin: 50% 50%;
   animation-fill-mode:forwards; /*when the spec is finished*/
   -webkit-animation: animationFrames1 ease 3s;
   -webkit-animation-iteration-count: infinite;
   -webkit-transform-origin: 50% 50%;
   -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
   -moz-animation: animationFrames1 ease 3s;
   -moz-animation-iteration-count: infinite;
   -moz-transform-origin: 50% 50%;
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation: animationFrames1 ease 3s;
   -o-animation-iteration-count: infinite;
   -o-transform-origin: 50% 50%;
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation: animationFrames1 ease 3s;
   -ms-animation-iteration-count: infinite;
   -ms-transform-origin: 50% 50%;
   -ms-animation-fill-mode:forwards; /*IE 10+*/
   }

@keyframes animationFrames1 {
   0% {
      opacity:0.01;
   }
   19% {
      opacity:0.01;
   }
   20% {
      opacity:1;
   }
}

@-moz-keyframes animationFrames1 {
   0% {
      opacity:0.01;
   }
   19% {
      opacity:0.01;
   }
   20% {
      opacity:1;
   }
}

@-webkit-keyframes animationFrames1 {
   0% {
      opacity:0.01;
   }
   19% {
      opacity:0.01;
   }
   20% {
      opacity:1;
   }
}

@-o-keyframes animationFrames1 {
   0% {
      opacity:0.01;
   }
   19% {
      opacity:0.01;
   }
   20% {
      opacity:1;
   }
}

@-ms-keyframes animationFrames1 {
   0% {
      opacity:0.01;
   }
   19% {
      opacity:0.01;
   }
   20% {
      opacity:1;
   }
}

.clipboard-inner-2{
   animation: animationFrames2 ease 3s;
   animation-iteration-count: infinite;
   transform-origin: 50% 50%;
   animation-fill-mode:forwards; /*when the spec is finished*/
   -webkit-animation: animationFrames2 ease 3s;
   -webkit-animation-iteration-count: infinite;
   -webkit-transform-origin: 50% 50%;
   -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
   -moz-animation: animationFrames2 ease 3s;
   -moz-animation-iteration-count: infinite;
   -moz-transform-origin: 50% 50%;
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation: animationFrames2 ease 3s;
   -o-animation-iteration-count: infinite;
   -o-transform-origin: 50% 50%;
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation: animationFrames2 ease 3s;
   -ms-animation-iteration-count: infinite;
   -ms-transform-origin: 50% 50%;
   -ms-animation-fill-mode:forwards; /*IE 10+*/
   }

@keyframes animationFrames2 {
   0% {
      opacity:0.01;
   }
   39% {
      opacity:0.01;
   }
   40% {
      opacity:1;
   }
}

@-moz-keyframes animationFrames2 {
   0% {
      opacity:0.01;
   }
   39% {
      opacity:0.01;
   }
   40% {
      opacity:1;
   }
}

@-webkit-keyframes animationFrames2 {
   0% {
      opacity:0.01;
   }
   39% {
      opacity:0.01;
   }
   40% {
      opacity:1;
   }
}

@-o-keyframes animationFrames2 {
   0% {
      opacity:0.01;
   }
   39% {
      opacity:0.01;
   }
   40% {
      opacity:1;
   }
}

@-ms-keyframes animationFrames2 {
   0% {
      opacity:0.01;
   }
   39% {
      opacity:0.01;
   }
   40% {
      opacity:1;
   }
}

.clipboard-inner-3 {
   animation: animationFrames3 ease 3s;
   animation-iteration-count: infinite;
   transform-origin: 50% 50%;
   animation-fill-mode:forwards; /*when the spec is finished*/
   -webkit-animation: animationFrames3 ease 3s;
   -webkit-animation-iteration-count: infinite;
   -webkit-transform-origin: 50% 50%;
   -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
   -moz-animation: animationFrames3 ease 3s;
   -moz-animation-iteration-count: infinite;
   -moz-transform-origin: 50% 50%;
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation: animationFrames3 ease 3s;
   -o-animation-iteration-count: infinite;
   -o-transform-origin: 50% 50%;
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation: animationFrames3 ease 3s;
   -ms-animation-iteration-count: infinite;
   -ms-transform-origin: 50% 50%;
   -ms-animation-fill-mode:forwards; /*IE 10+*/
   }

@keyframes animationFrames3 {
   0% {
      opacity:0.01;
   }
   59% {
      opacity:0.01;
   }
   60% {
      opacity:1;
   }
}

@-moz-keyframes animationFrames3 {
   0% {
      opacity:0.01;
   }
   59% {
      opacity:0.01;
   }
   60% {
      opacity:1;
   }
}

@-webkit-keyframes animationFrames3 {
   0% {
      opacity:0.01;
   }
   59% {
      opacity:0.01;
   }
   60% {
      opacity:1;
   }
}

@-o-keyframes animationFrames3 {
   0% {
      opacity:0.01;
   }
   59% {
      opacity:0.01;
   }
   60% {
      opacity:1;
   }
}

@-ms-keyframes animationFrames3 {
   0% {
      opacity:0.01;
   }
   59% {
      opacity:0.01;
   }
   60% {
      opacity:1;
   }
}

.clipboard-inner-4 {
   animation: animationFrames4 ease 3s;
   animation-iteration-count: infinite;
   transform-origin: 50% 50%;
   animation-fill-mode:forwards; /*when the spec is finished*/
   -webkit-animation: animationFrames4 ease 3s;
   -webkit-animation-iteration-count: infinite;
   -webkit-transform-origin: 50% 50%;
   -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
   -moz-animation: animationFrames4 ease 3s;
   -moz-animation-iteration-count: infinite;
   -moz-transform-origin: 50% 50%;
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation: animationFrames4 ease 3s;
   -o-animation-iteration-count: infinite;
   -o-transform-origin: 50% 50%;
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation: animationFrames4 ease 3s;
   -ms-animation-iteration-count: infinite;
   -ms-transform-origin: 50% 50%;
   -ms-animation-fill-mode:forwards; /*IE 10+*/
   }

@keyframes animationFrames4 {
   0% {
      opacity:0.01;
   }
   79% {
      opacity:0.01;
   }
   80% {
      opacity:1;
   }
}

@-moz-keyframes animationFrames4 {
   0% {
      opacity:0.01;
   }
   79% {
      opacity:0.01;
   }
   80% {
      opacity:1;
   }
}

@-webkit-keyframes animationFrames4 {
   0% {
      opacity:0.01;
   }
   79% {
      opacity:0.01;
   }
   80% {
      opacity:1;
   }
}

@-o-keyframes animationFrames4 {
   0% {
      opacity:0.01;
   }
   79% {
      opacity:0.01;
   }
   80% {
      opacity:1;
   }
}

@-ms-keyframes animationFrames4 {
   0% {
      opacity:0.01;
   }
   79% {
      opacity:0.01;
   }
   80% {
      opacity:1;
   }
}

/* 3. Create  */ 

.pencil{
  animation: PencilStroke ease-in-out 5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: PencilStroke ease-in-out 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: PencilStroke ease-in-out 5s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 434px 342px;
  -o-animation: PencilStroke ease-in-out 5s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: PencilStroke ease-in-out 5s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes PencilStroke{
  0% {
    transform: translate(50px,0px)  ;
  }
  50% {
    transform: translate(0px,0px)  ;
  }
  100% {
    transform: translate(50px,0px)  ;
  }
}

@-moz-keyframes PencilStroke{
  0% {
    -moz-transform: translate(50px,0px)  ;
  }
  50% {
    -moz-transform: translate(0px,0px)  ;
  }
  100% {
    -moz-transform: translate(50px,0px)  ;
  }
}

@-webkit-keyframes PencilStroke {
  0% {
    -webkit-transform: translate(50px,0px)  ;
  }
  50% {
    -webkit-transform: translate(0px,0px)  ;
  }
  100% {
    -webkit-transform: translate(50px,0px)  ;
  }
}

@-o-keyframes PencilStroke {
  0% {
    -o-transform: translate(50px,0px)  ;
  }
  50% {
    -o-transform: translate(0px,0px)  ;
  }
  100% {
    -o-transform: translate(50px,0px)  ;
  }
}

@-ms-keyframes PencilStroke {
  0% {
    -ms-transform: translate(50px,0px)  ;
  }
  50% {
    -ms-transform: translate(0px,0px)  ;
  }
  100% {
    -ms-transform: translate(50px,0px)  ;
  }
}

.pencil-line{
  animation: PencilLine ease-in-out 5s;
  animation-iteration-count: infinite;
  transform-origin: 0% 0%;
  -webkit-animation: PencilLine ease-in-out 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 0% 0%;
  -moz-animation: PencilLine ease-in-out 5s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 434px 342px;
  -o-animation: PencilLine ease-in-out 5s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 0% 0%;
  -ms-animation: PencilLine ease-in-out 5s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 0% 0%;
}

@keyframes PencilLine{
  0% {
    transform:  scaleX(1.00) ;
  }
  50% {
    transform:  scaleX(0.00) ;
  }
  100% {
    transform:  scaleX(1.00) ;
  }
}

@-moz-keyframes PencilLine{
  0% {
    -moz-transform:  scaleX(1.00) ;
  }
  50% {
    -moz-transform:  scaleX(0.00) ;
  }
  100% {
    -moz-transform:  scaleX(1.00) ;
  }
}

@-webkit-keyframes PencilLine {
  0% {
    -webkit-transform:  scaleX(1.00) ;
  }
  50% {
    -webkit-transform:  scaleX(0.00) ;
  }
  100% {
    -webkit-transform:  scaleX(1.00) ;
  }
}

@-o-keyframes PencilLine {
  0% {
    -o-transform:  scaleX(1.00) ;
  }
  50% {
    -o-transform:  scaleX(0.00) ;
  }
  100% {
    -o-transform:  scaleX(1.00) ;
  }
}

@-ms-keyframes PencilLine {
  0% {
    -ms-transform:  scaleX(1.00) ;
  }
  50% {
    -ms-transform:  scaleX(0.00) ;
  }
  100% {
    -ms-transform:  scaleX(1.00) ;
  }
}

/* 4. Activate  */ 

.play-icon{
  animation: ButtonPress ease-out 3s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: ButtonPress ease-out 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: ButtonPress ease-out 3s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 294px 454px;
  -o-animation: ButtonPress ease-out 3s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: ButtonPress ease-out 3s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes ButtonPress{
  0% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
  42% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    transform:  scaleX(0.50) scaleY(0.50) ;
  }
  57% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
  100% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-moz-keyframes ButtonPress{
  0% {
    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  42% {
    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    -moz-transform:  scaleX(0.50) scaleY(0.50) ;
  }
  57% {
    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  100% {
    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-webkit-keyframes ButtonPress {
  0% {
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  42% {
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    -webkit-transform: scaleX(0.50) scaleY(0.50) ;
  }
  57% {
    -webkit-transform: scaleX(1.00) scaleY(1.00) ;
  }
  100% {
    -webkit-transform: scaleX(1.00) scaleY(1.00) ;
  }
}

@-o-keyframes ButtonPress {
  0% {
    -o-transform: scaleX(1.00) scaleY(1.00) ;
  }
  42% {
    -o-transform: scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    -o-transform: scaleX(0.50) scaleY(0.50) ;
  }
  57% {
    -o-transform: scaleX(1.00) scaleY(1.00) ;
  }
  100% {
    -o-transform: scaleX(1.00) scaleY(1.00) ;
  }
}

@-ms-keyframes ButtonPress {
  0% {
    -ms-transform: scaleX(1.00) scaleY(1.00) ;
  }
  42% {
    -ms-transform: scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    -ms-transform: scaleX(0.50) scaleY(0.50) ;
  }
  57% {
    -ms-transform: scaleX(1.00) scaleY(1.00) ;
  }
  100% {
    -ms-transform: scaleX(1.00) scaleY(1.00) ;
  }
}

/* 5. Measure  */

.measure-graph-1 {
      stroke-dasharray: 57;
      stroke-dashoffset: -57;
      animation: measure-graph-1 1s linear forwards;
      animation-iteration-count: infinite;
}

.measure-graph-2 {
      animation: measure-graph-2 1s linear forwards;
      animation-iteration-count: infinite;
}

@keyframes measure-graph-1 {
      50% {
         stroke-dashoffset: 0;
      }
      100% {
         stroke-dashoffset: 0;
      }
}

@keyframes measure-graph-2 {
      0% {
         opacity:0.01;
      }
      45% {
         opacity:0.01;
      }
      50% {
         opacity:1;
      }
}

/* 6. Refine  */   

.refine-arrows {
   transform-origin: 136px 205px;
   animation: rotate 8s linear backwards;
   animation-iteration-count: infinite;
}

@keyframes rotate {
  0% {
    transform:  rotate(0deg) ;
  }
  50% {
    transform:  rotate(180deg) ;
  }
  100% {
    transform:  rotate(360deg) ;
  }
}

@-moz-keyframes rotate {
  0% {
    -moz-transform:  rotate(0deg) ;
  }
  50% {
    -moz-transform:  rotate(180deg) ;
  }
  100% {
    -moz-transform:  rotate(360deg) ;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform:  rotate(0deg) ;
  }
  50% {
    -webkit-transform:  rotate(180deg) ;
  }
  100% {
    -webkit-transform: rotate(360deg) ;
  }
}

@-o-keyframes rotate {
  0% {
    -o-transform: rotate(0deg) ;
  }
  50% {
    -o-transform: rotate(180deg) ;
  }
  100% {
    -o-transform: rotate(360deg) ;
  }
}

@-ms-keyframes rotate {
  0% {
    -ms-transform: rotate(0deg) ;
  }
  50% {
    -ms-transform: rotate(180deg) ;
  }
  100% {
    -ms-transform: rotate(360deg) ;
  }
}


